In [12]:
import pandas as pd

# Load tsv file
deaths_df = pd.read_csv('data/choleraDeaths.tsv', sep='\t')

# Rename columns; modify original
deaths_df.rename(
    columns = {'Date': 'Date', 'Attack': 'Daily Attacks', 'Death': 'Daily Deaths'},
    inplace = True
)

# Create new columns with running totals of attacks and deaths
# Referenced https://www.geeksforgeeks.org/cumulative-sum-of-a-column-in-pandas-python/
attacks_cumul = deaths_df['Daily Attacks'].cumsum()
deaths_cumul = deaths_df['Daily Deaths'].cumsum()

# Insert cumulative columns into a new dataframe.
deaths_graph_df = deaths_df.copy()
deaths_graph_df.insert(2, 'Cumulative Attacks', attacks_cumul)
deaths_graph_df.insert(4, 'Cumulative Deaths', deaths_cumul)
# Replace the date column with days after August 19 1854
deaths_graph_df.drop(columns=['Date'], axis=0, inplace=True)
# deaths_graph_df.insert(0, 'Elapsed', pd.Series(range(0,42)).to_frame())
deaths_graph_df

    Daily Attacks  Cumulative Attacks  Daily Deaths  Cumulative Deaths
0               1                   1             1                  1
1               1                   2             0                  1
2               1                   3             2                  3
3               0                   3             0                  3
4               1                   4             0                  3
5               1                   5             2                  5
6               0                   5             0                  5
7               1                   6             0                  5
8               1                   7             1                  6
9               1                   8             0                  6
10              1                   9             1                  7
11              8                  17             2                  9
12             56                  73             3                 12
13            143                 216            70                 82
14            116                 332           127                209
15             54                 386            76                285
16             46                 432            71                356
17             36                 468            45                401
18             20                 488            37                438
19             28                 516            32                470
20             12                 528            30                500
21             11                 539            24                524
22              5                 544            18                542
23              5                 549            15                557
24              1                 550             6                563
25              3                 553            13                576
26              0                 553             6                582
27              1                 554             8                590
28              4                 558             6                596
29              2                 560             5                601
30              3                 563             2                603
31              0                 563             3                606
32              0                 563             0                606
33              2                 565             0                606
34              1                 566             2                608
35              1                 567             3                611
36              1                 568             0                611
37              1                 569             0                611
38              1                 570             2                613
39              1                 571             0                613
40              0                 571             2                615
41              0                 571             1                616

In [15]:
import plotly.express as px

df = px.data.iris()
df

,sepal_length,sepal_width,petal_length,petal_width,species,species_id
0,5.1,3.5,1.4,0.2,setosa,1
1,4.9,3.0,1.4,0.2,setosa,1
2,4.7,3.2,1.3,0.2,setosa,1
3,4.6,3.1,1.5,0.2,setosa,1
4,5.0,3.6,1.4,0.2,setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,3
146,6.3,2.5,5.0,1.9,virginica,3
147,6.5,3.0,5.2,2.0,virginica,3
148,6.2,3.4,5.4,2.3,virginica,3
149,5.9,3.0,5.1,1.8,virginica,3

In [39]:
extra_info_dict = {
    'author': 'This visu',
    'tools': 'this'
}
extra_info_dict['author']

'This visu'

In [40]:
naples_df = pd.read_csv(
    'data/naplesCholeraAgeSexData.tsv',
    sep='\t',
    skiprows = 6)

naples_df

       age  male  female
0      0-1   8.2     8.9
1      2-5  14.0    14.7
2     6-10  12.1    11.2
3    11-15   7.8     7.1
4    16-20   7.2     7.2
5    21-40  12.1    11.8
6    41-60  13.7    12.9
7    61-80  20.5    20.5
8  over 80  39.6    37.8

In [41]:
census_df = pd.read_csv('data/UKcensus1851.csv', skiprows=3)
census_df

        age     male   female
0    0 to 9  2075391  2065096
1  10 to 19  1711664  1711627
2  20 to 29  1395091  1542876
3  30 to 39  1073914  1140383
4  40 to 49   810979   845260
5  50 to 59   560534   592970
6  60 to 69   351893   399019
7  70 to 79   166194   199326
8       80+    40772    55704

In [22]:
pd.read_csv('data/choleraPumpLocations.csv')

   -0.136668  51.513341
0  -0.139586  51.513876
1  -0.139671  51.514906
2  -0.131630  51.512354
3  -0.133594  51.512139
4  -0.135919  51.511542
5  -0.133962  51.510019
6  -0.138199  51.511295

In [43]:
pd.read_csv('data/choleraDeathLocations.csv', error_bad_lines=False)

b'Skipping line 79: expected 3 fields, saw 4\n'

     3  -0.13793  51.513418
0    2 -0.137883  51.513361
1    1 -0.137853  51.513317
2    1 -0.137812  51.513262
3    4 -0.137767  51.513204
4    2 -0.137537  51.513184
..  ..       ...        ...
243  3 -0.137108  51.514526
244  2 -0.137065  51.514706
245  1 -0.138474  51.512311
246  1 -0.138123  51.511998
247  1 -0.137762  51.511856

[248 rows x 3 columns]